@font-face {
	font-family: "On Serwal";
	src        : url(fonts/on_serwal.ttf);
}

@font-face {
	font-family: "Serwal Sans";
	src        : url(fonts/SerwalSans.ttf);
}

@font-face {
	font-family: "Serwal Godika";
	src        : url(fonts/SerwalGodika.ttf);
}

@font-face {
	font-family: "Tozwanseer";
	src        : url(fonts/Tozwanseer.ttf);
}

@font-face {
	font-family: "Akataneen";
	src        : url(fonts/Akataneen.ttf);
}

.FontEtlSerif {
	font-family: 'On Serwal';
}

.FontEtlSans {
	font-family: 'Serwal Sans';
}

.FontEtlGothic {
	font-family: 'Serwal Godika';
	font-size: 28px;
}

.FontEtlBlock {
	font-family: 'Tozwanseer';
	text-transform: lowercase;
}

.FontEtlAkataneen {
	font-family: 'Akataneen';
	text-transform: lowercase;
	font-size: 22px;
	line-height: 30px;
}

.FontLatin {
	font-family: 'IBM Plex Serif', serif;
}